.radioPlayerContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100vw - 80px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--player-background-color);
  padding: 16px 40px;
  z-index: 1;
  box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(12px);
}

.darkMode .radioPlayerContainer {
  backdrop-filter: blur(12px);
  backface-visibility: hidden;
}

.controlsLayout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 16px;
  width: 100vw;
}

.playerBar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  padding: 8px 0;
  margin-left: -5px;
}
