.button {
  border: none;
  background: none;
}

.playerIconHolder {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.playerIconHolder svg {
  fill: currentColor;
}

.button_link {
  margin-left: 8px;
}

.button_mute svg {
  width: 24px;
  height: auto;
}

.button_unmute svg {
  width: 24px;
  height: auto;
}
