<div class='footerBar'>
  <div class='footerText'>
    <p class='footerTitle'>Launch event DJ</p>
  <p><span class='footerNames'>Numa </span>
    <a href='https://lynkfire.com/numadessas'>@Numadessas</a>
  </p>
  <p class='footerTitle'>
    Rolling playlist
  </p>
    <p>
      <span class='footerNames'>Ed Marola </span>
    <a href='https://twitter.com/eduardopolitzer'>@eduardopolitzer</a>
    <br />
    <span class='footerNames'>Davi Fonseca </span>
    <a href='https://twitter.com/DaviFonseca_art'>@DaviFonseca</a>
    <br />
    <span class='footerNames'>Gabriel Politzer </span>
    <a href='https://twitter.com/GabrielPolitzer'>@GabrielPolitzer</a>
    <br />
  </p>  <p class='footerTitle'>
    Visuals
    </p>
    <p>
      <span class='footerNames'>V5MT </span>
    <a href='https://twitter.com/v5mt_tv'>@v5mt_tv</a>
  </p>
  <p class='footerTitle'>
    Contact
  </p>
  <p>
    <a href='https://hen.radio'>https://hen.radio</a>
    <br />
    Discord:
    <a href='https://discord.gg/gj7U6r96aF'>hen.radio</a>
    <br />
    Twitter:
    <a href='https://twitter.com/hen_radio'>@hen_radio</a>
    <br />
    Github:
    <a href='https://github.com/henradio/hen-radio'>hen-radio</a>
  </p>
  </div>
</div>
<div class='footerBar_mobile'>
  <div class='footerText'>
    <p class='footerTitle'>Launch event DJ</p>
  <p><span class='footerNames'>Numa </span>
    <a href='https://lynkfire.com/numadessas'>@Numadessas</a>
  </p>
  <p class='footerTitle'>
    Contact:
  </p>
  <p>
    <a href='https://hen.radio'>https://hen.radio</a>
    <br />
    Discord:
    <a href='https://discord.gg/gj7U6r96aF'>hen.radio</a>
    <br />
    Twitter:
    <a href='https://twitter.com/hen_radio'>@hen_radio</a>
    <br />
    Github:
    <a href='https://github.com/henradio/hen-radio'>hen-radio</a>
  </p>
  </div>
</div>