:host {
  margin-top: auto;
}

p {
  margin: 0px;
}

.footerBar , .footerBar_mobile {
  position: fixed;
  right: 40px;
  bottom: 120px;
  background-color: white;
  font-size: 12px;
  padding: 0px 25px 23px;
  background-color: rgba(255,255,255);
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.footerTitle {
  font-weight: 700;
  text-decoration: underline;
  margin:20px 0px 6px 0px;
}

.footerNames {
  font-weight: 700;
}

.footerText {
  color: var(--dark-grey);
}

  @media screen and (min-width: 800px) {
    .footerBar_mobile{
      display: none;
    }
    .footerBar{
      display: block;
    }
  }

  @media screen and (max-width: 800px) {
    .footerBar_mobile{
      display: block;
    }
    .footerBar{
      display: none;
    }
  }