:host {
  margin-top: auto;
}

p {
  margin: 0px;
}

.footerBar {
  position: fixed;
  right: 40px;
  bottom: 120px;
  background-color: white;
  font-size: 12px;
}

.footerTitle {
  font-weight: 700;
  text-decoration: underline;
  margin:20px 0px 6px 0px;
}

.footerNames {
  font-weight: 700;
}

.footerText {
  color: var(--dark-grey);
}

  .footerBar {
    padding: 0px 25px 23px;
    background-color: white;
  }

