.headerBar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 16px;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.navBar_link {
  margin-left: auto;
}

.navBar_buttonLink {
  padding: 0;
  border: none;
  font-size: 16px;
  color: var(--text);
}
