  <div class='headerBar'>
    <a routerLink='/'>
      <app-logo></app-logo>
    </a>
    <!--    <div class='navBar'>-->
    <!--      <span class='navBar_link'>-->
    <!--          <a routerLink='/'>Home</a>-->
    <!--      </span>-->
    <!--    </div>-->
  </div>
<div class="splash black-and-white">


  <div class="gif-box">
    <img class="gif" src="/assets/img/Launch_NUMA_a.png">
  </div>
</div>

<!--  <div>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<app-radio-player></app-radio-player>
<app-footer></app-footer>
