  <div class='headerBar'>
    <a routerLink='/'>
      <app-logo></app-logo>
    </a>
    <!--    <div class='navBar'>-->
    <!--      <span class='navBar_link'>-->
    <!--          <a routerLink='/'>Home</a>-->
    <!--      </span>-->
    <!--    </div>-->
  </div>
<div class="splash black-and-white">
  <div class="title-box">
    <h1 class="title">Live.Hen.Radio</h1>
  </div>
  <div class="event-box">
    <p class="event-text">Event Date Stuff/Details</p>
  </div>
  <div class="gif-box">

  </div>
</div>
<!--  <div>-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<app-radio-player></app-radio-player>
<app-footer></app-footer>
